.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-table {
  padding: 1rem;
  width: 100%;
  display: inline-grid;
  grid-template-columns: 120px 120px 1fr;
  border: 1px solid #000;
}

.tarot-card {
  max-width: 100%;
  border: 1px solid #000;
}
.tarot-card > img {
  max-height: 180px;
  border: 1px solid #999;
}

.tarot-card > img.reverse {
  transform: rotate(180deg)
}
